body{
 background-color: rgb(146, 172, 94);
 
 width: 100%;
}

header {
    display: flex;
    justify-content:space-between;
    color: white;
    padding: 10px;
    margin-right: 40px;
    margin-top: 40px;
}

header img {
    height: 15vh;
    margin-left: 40px;
    margin-bottom: 25px;
}

<<<<<<< HEAD
 .searchBar {
    color: rgb(255,255,255);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgb(146, 172, 94);
    outline: 0;
    border-color: rgb(244,127,75);
    
=======
.searchBar {
    color: red;
>>>>>>> c4fa0096a753b472a312e8705d0cb560ca760cac
 }

::placeholder {
    color: rgb(255,255,255);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .2em;
   
    
    
}

.fa-search {
    color:rgb(244,127,75);
}


 nav {
    display: inline;
    background-color: darkolivegreen;
    width: 100%;
    float: right;
    text-align: right;
    color: white;
 }

 .parkBio{
    width: 50%;
    display: flex;
    flex-direction: row;
    background-color: green;
 }

 .parkClassified{
    display: flex;
    flex-direction: column;
 }

 .namePark{
    margin-left: 5px;
 }

 .locationClassified{
    display: flex;
 }

 .lon{
    margin-left: 10px;
 }

 .parkPrices{
    width: 50%;
 }